:root {
    --primary-color: #2B193D;
    --secondary-color: #2C365E;
    --accent1-color: #484D6D;
    --accent2-color: #4B8F8C;

    --font-family: "Mulish", sans-serif;
    --primary-heading-size: 2.5rem;
    --primary-heading-weight: 800;
    --secondary-headings-size: 1.5rem;
    --secondary-heading-weight: 600;
    --paragraph-size: 1rem;
    --paragraph-weight: 100;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 1rem;
}

header {
    background-color: var(--accent1-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    margin: auto;
    font-size: 1.5rem;
    font-family: var(--font-family);
}

nav {
    color: white;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    padding: .5rem;
    text-decoration: none;
    color: white;
    font-family: var(--font-family);
}

#menu {
    font-size: 1rem;
    border: 0;
    background: none;
    color: #ffffff;
    margin: auto;
}

#menu::before {
    content: "☰";
    color: white;
}

#menu.open::before {
    content: "❌";
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    color: white;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: left;
    text-decoration: none;
    color: white;
}

.open a {
    display: block;
}

#hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero img {
    width: 100%;
    height: auto;
    display: block;
}

.join-button {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background-color: var(--accent2-color);
    color: white;
    padding: 20px 30px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: var(--font-family);
}

footer {
    text-align: center;
    padding: 2rem;
    background-color: var(--accent1-color);
    color: white;
}