* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
footer {
    max-width: 640px;
    border: 1px solid #bbb;
    margin: 1rem auto;
    padding: 1rem;
}

header {
    border-radius: 4px;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    position: relative;
    background-color: #63768D;
    color: #fff;
}

header img {
    box-shadow: 5px 5px 5px 5px black;
}

header span {
    display: block;
    font-size: 50px;
}

h1 {
    font-size: 2rem;
    margin: 1rem auto;
    border-bottom: 1px solid black;
    max-width: 640px;
}

h2 {
    background-color: #63768D;
    color: #fff;
    border: 0.5px solid black;
    margin: 1rem auto;
}

nav {
    background-color: #8AC6D0;
    color: #fff;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    padding: .5rem;
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

nav .active {
    background-color: rgba(0, 0, 0, 0.3);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin: 1rem auto;
    padding: 1rem;
    max-width: 640px;
}

section {
    max-width: 640px;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px rgba(32, 32, 32, 0.3);
}

.card ul {
    list-style: none;
}

footer {
    text-align: center;
    padding: 2rem;
    background-color: #72BDA3;
}