* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
footer {
    max-width: 640px;
    border: 1px solid #bbb;
    margin: 1rem auto;
    padding: 1rem;
}

header {
    border-radius: 4px;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    position: relative;
    background-color: #63768D;
    color: #ffffff;
}

header img {
    box-shadow: 5px 5px 5px 5px black;
}

header span {
    display: block;
    font-size: 50px;
}

h1 {
    font-size: 2rem;
    margin: 1rem auto;
    border-bottom: 1px solid black;
    max-width: 640px;
}

h2 {
    background-color: #63768D;
    color: #ffffff;
    border: 0.5px solid black;
    margin: 1rem auto;
}

nav {
    background-color: #8AC6D0;
    color: black;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    padding: .5rem;
    text-decoration: none;
    color: black;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

nav .active {
    background-color: rgba(0, 0, 0, 0.3);
}

#menu {
    font-size: 1rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    background-color: #8AC6D0;
    color: black;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: black;
}

.open a {
    display: block;
}


main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin: 1rem auto;
    padding: 1rem;
    max-width: 640px;
}

#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 2rem;
    color: #ffffff;
}

section {
    max-width: 640px;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px rgba(32, 32, 32, 0.3);
}

.card ul {
    list-style: none;
}

footer {
    text-align: center;
    padding: 2rem;
    background-color: #72BDA3;
}

picture {
    display: block;
    text-align: center;
}

.hero-container {
    position: relative;
}

.hero-container span {
    position: absolute;
    top: 15%;
    left: 35%;
    transform: translate(-40%, -20%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    border: 1px yellow solid;
}

iframe {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    aspect-ratio: 16 / 9;
    border: none;
}